# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
tfplan
*.tfplan
crash.log

# Lambda build
terraform/lambda/handler.zip

# Local
evidence/
.DS_Store
terraform/main.tf.bak

# Plan artifacts (created by terraform plan, scanned by Conftest)
plan.json
plan.txt
**/plan.json
**/plan.txt

# Catch .terraform/ anywhere in repo, not just root
**/.terraform/
